:root {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-top-numbers-letters: 8px;
}

body {
    margin: 0;
}

section.grid {
    text-indent: 15px;
    display: grid;
    gap: 1rem;
    grid-template-areas: "yell redd greenn orangee orangee bluee";
}

section.numbers {
    text-indent: 0px;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-areas: "one" "two" "three" "four";
    justify-content: center;
}

section.letters {
    text-indent: 0px;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-areas: "a" "b" "c" "d";
    justify-content: center;
}

#green {
    grid-area: greenn;
    background-color: lightgreen;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#yellow {
    grid-area: yell;
    background-color: lightyellow;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#red {
    grid-area: redd;
    background-color: lightcoral;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#blue {
    grid-area: bluee;
    background-color: lightblue;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#orange {
    grid-area: orangee;
    background-color: lightsalmon;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    /* width: 500px; */
}

#one {
    grid-area: one;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#two {
    grid-area: two;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#three {
    grid-area: three;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#four {
    grid-area: four;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#a {
    grid-area: a;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#b {
    grid-area: b;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#c {
    grid-area: c;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#d {
    grid-area: d;
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}