:root {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-top-numbers-letters: 8px;
}

body {
    margin: 0;
}

section.grid {
    text-indent: 15px;
    display: flex;
    gap: 10px;
}

section div:not(section.numbers), section div:not(section.letters) {
    width: 330px;
}

section.numbers {
    text-indent: 0px;
    text-align: center;
    display: grid;
    gap: 1rem;
    justify-content: center;
}

section.letters {
    text-indent: 0px;
    text-align: center;
    display: grid;
    gap: 1rem;
    justify-content: center;
}

#green {
    background-color: lightgreen;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#yellow {
    background-color: lightyellow;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#red {
    background-color: lightcoral;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#blue {
    background-color: lightblue;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#orange {
    width: 550px;
    background-color: lightsalmon;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

#one {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#two {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#three {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#four {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#a {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#b {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#c {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}

#d {
    background-color: white;
    height: 50px;
    width: 80px;
    padding-top: var(--padding-top-numbers-letters);
}